<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layouts/layout-without-nav :: layout-without-nav(title=~{::title/text()},
                    content=~{::#content}, pageScripts=~{})}">
<head>
<title>Mi Despensa -Validación correo</title>
</head>
<body>

	<div id="content">
		<div class="container-principal">
			<div class="form-container-login">
				<div class="card-body-login">
					<h3 class="form-title"><i class="bi bi-person-check"></i> Validacion cuenta de correo
						electrónico</h3>
					<div>
						<form th:action="@{/user/valid-mail}" method="post">
							<!-- Campo oculto para enviar el token -->
							<input type="hidden" name="token" th:value="${token}" />

							<div class="text-center">
								<button type="submit"
									class="btn btn-modern btn-modern-primary w-100">
									<i class="bi bi-check-circle me-2"></i> Validación
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>