<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<nav class="navbar navbar-expand-lg navbar-dark navbar-black-gradient sticky-top">
	<div class="container-fluid">
		<!-- Título alineado a la izquierda -->
		<a class="navbar-brand" th:href="@{/pantry/list}"> <img
			th:src="@{/images/midespensa.png}" alt="Logo" width="30" height="30"
			class="d-inline-block align-text-top me-2"> Mi Despensa
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item dropdown" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"><a
					class="nav-link dropdown-toggle" href="#" id="adminDropdown"
					role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Administrador </a>
					<ul class="dropdown-menu" aria-labelledby="adminDropdown">
						<li><a class="dropdown-item" th:href="@{/products/list}">Productos</a></li>
						<li><a class="dropdown-item" th:href="@{/products/custom}">Customizados</a></li>
						<li><a class="dropdown-item" th:href="@{/user/users}">Usuarios</a></li>
					</ul></li>
				<li class="nav-item"><a class="nav-link me-4 position-relative"
					th:href="@{/shoppingList/list}">Lista de la compra <span
						class="position-absolute bot-0 start-100 translate-middle badge rounded-pill bg-danger"
						th:text="${shoppingListSize}" id="cartCount">0</span>
				</a></li>
				<li class="nav-item"><a class="nav-link me-4"
					th:href="@{/recipes/list}">Recetas</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<span th:text="${#authentication.name}">Usuario</span>

				</a>
					<ul class="dropdown-menu"
						aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" th:href="@{/user/settings-form}">Ajustes</a>
						</li>
						<li>
							<form th:action="@{/user/logout}" method="post">
								<button type="submit" class="dropdown-item">Cerrar
									sesión</button>
							</form>
						</li>
					</ul></li>
			</ul>
		</div>
	</div>
</nav>